@import '../../styles/variables';
.operation-full {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin: 10px;

  &__header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: 10px;
    position: relative;
  }
  &__main {
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: center;

    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 22px;
    margin: 0;
  }
  &__category {
    font-size: 16px;
    color: #979797;
    margin-top: 7px;
    margin-bottom: 0;

  }
  &__description {
    font-size: 16px;
    color: #979797;
    margin-top: 7px;
    margin-bottom: 0;
  }
  &__amount {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
    &.positive {
      color: #42b983;
    }
    &.negative {
      color: #d9534f;
    }
  }
  &__date-time {
    font-size: 16px;
    text-align: center;
  }
  &__edit-button {
    background-color: transparent;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &.light {
    background-color: $color-bg-light;
    color: $color-text-light;

    & .operation-full__category,
    & .operation-full__description {
      color: #979797;
    }
  }

  &.dark {
    background-color: $color-bg-dark;
    color: $color-text-dark;

    & .operation-full__category,
    & .operation-full__description {
      color: #c0c0c0;
    }
  }

}