@import '../../../styles/variables';

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
  margin: 0 auto;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  background-color: $color-bg-light;
  color: $color-text-light;
  width: 100%;
  min-width: 400px; // минимальная ширина

  &.dark {
    background-color: $color-bg-dark;
    color: $color-text-dark;
  }

  &__item {
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: start;
    max-width: 500px;

    label {
      font-weight: 600;
      padding-top: 8px;
    }

    input,
    textarea {
      grid-column: 2 / 3;
      border-radius: 8px;
      padding: 8px;
      border: 1px solid #ccc;
      font-size: 1rem;
      width: 100%;
      transition: border-color 0.2s, box-shadow 0.2s;
      max-width: 430px;

      &:focus {
        outline: none;
        border-color: $color-primary;
        box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.2);
      }

      &.error {
        border-color: $color-error;
        box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2);
      }
    }

    textarea {
      min-height: 80px;
    }

    .error-message {
      grid-column: 2 / 3;
      color: $color-error;
      font-size: 0.875rem;
      margin-top: 4px;
    }
  }

  &__submit {
    margin-top: 16px;
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: $color-primary;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }
}