.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 24px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;

  &__logo {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;



    img {
      height: 100%; /* header 64px → 48px логотип с отступом 8px сверху и снизу */
      width: auto;
      border-radius: 50%; /* превращаем в круг */
      object-fit: cover;  /* сохраняем пропорции, обрезая лишнее */
    }
  }

  &__nav {
    display: flex;
    gap: 24px;
  }

  &__link {
    text-decoration: none;
    color: #000;

    &:hover {
      color: royalblue;
    }
  }
}
