@import '../../styles/variables';
.header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 24px;
  &__logo {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;



    img {
      height: 100%; /* header 64px → 48px логотип с отступом 8px сверху и снизу */
      width: auto;
      border-radius: 50%; /* превращаем в круг */
      object-fit: cover;  /* сохраняем пропорции, обрезая лишнее */
    }
  }

  &__nav {
    display: flex;
    gap: 24px;

    &__link {
      text-decoration: none;
    }
  }

  &.light {
    background-color: $color-bg-light;
    color: $color-text-light;

    & .header__nav__link {
      color: $color-text-light;
      &:hover {
        color: $color-link-hover;
      }
    }
  }

  &.dark {
    background-color: $color-bg-dark;
    color: $color-text-dark;

    & .header__nav__link {
      color: $color-text-dark;
      &:hover {
        color: $color-link-hover;
      }
    }
  }

}
