@import '../../styles/variables';

.operation-short {
  display: flex;
  justify-content: space-between;
  width: 500px;

  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 16px;
  margin: 10px;

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &__title {
    font-weight: 700;
    font-size: 22px;
    margin: 0;
    overflow: hidden;
    max-width: 250px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__category,
  &__description {
    font-size: 16px;
    margin-top: 7px;
    margin-bottom: 0;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__amount {
    font-weight: 700;
    font-size: 22px;
    margin: 0;
    &.positive {
      color: #42b983;
    }
    &.negative {
      color: #d9534f;
    }
  }

  &.light {
    background-color: $color-bg-light;
    color: $color-text-light;

    & .operation-short__category,
    & .operation-short__description {
      color: #979797;
    }
  }

  &.dark {
    background-color: $color-bg-dark;
    color: $color-text-dark;

    & .operation-short__category,
    & .operation-short__description {
      color: #c0c0c0;
    }
  }
}
