@import '../../styles/variables';
.modal {
  &__overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

  }

  &__window {
    position: relative;
    background-color: #fff;
    padding: 20px;
    width: 300px;
    height: 200px;
    border-radius: 10px;

    &.light {
      background-color:  $color-bg-light;
      color: $color-text-light;
    }

    &.dark {
      background-color: $color-bg-dark;
      color: $color-text-dark;
    }

    }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    align-content: center;
  }
  &__close {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    font-size: 20px;
    color: #666;
    cursor: pointer;

    &:hover {
      color: palevioletred;
    }
  }

}