@import '../../styles/variables';

.operation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 100px;

  &.light {
    background-color: $color-bg-light;
    color: $color-text-light;

    &__loader {
      background-color: #e0e0e0;
      color: $color-text-light;
    }
  }

  &.dark {
    background-color: $color-bg-dark;
    color: $color-text-dark;

    &__loader {
      background-color: #444;
      color: $color-text-dark;
    }
  }

  &__item {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__loader {
    height: 40px;
    margin: 40px auto;
    width: 200px;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
  }
}
